In [35]:
import pandas as pd
import csv

df = pd.read_csv('TOTAL_US_STOCK_MARKET.csv')
# See what's in the CSV
df.head()

,ticker,name,finnhubIndustry,country,currency,exchange,ipo,marketCapitalization,marketCapClass,shareOutstanding
0,AACG,ATA Creativity Global,Diversified Consumer Services,CN,USD,NASDAQ NMS - GLOBAL MARKET,2008-01-29,27.29185,MICRO_CAP,56.626346
1,AAL,American Airlines Group Inc,Airlines,US,USD,NASDAQ NMS - GLOBAL MARKET,2013-12-09,7844.693,MID_CAP,422.894501
2,AAME,Atlantic American Corp,Insurance,US,USD,NASDAQ NMS - GLOBAL MARKET,1980-01-16,36.78906,MICRO_CAP,20.438366
3,AAOI,Applied Optoelectronics Inc,Communications,US,USD,NASDAQ NMS - GLOBAL MARKET,2013-09-26,197.1919,MICRO_CAP,20.339549
4,AAON,Aaon Inc,Building,US,USD,NASDAQ NMS - GLOBAL MARKET,1991-01-03,2980.886,MID_CAP,52.031532

In [36]:
# Remove any entry with finnhubIndustry == NaN (i.e removes ETFs, MFs, Index Funds, etc)
df = df.dropna()
df = df.reset_index()

In [11]:
# Test case, a known ETF (should NOT show 'BJK,VanEck Vectors Gaming ETF...')
print(df.loc[[319]])

In [42]:
# Proof there are no entries with a market-cap of 0
print(df.loc[df['shareOutstanding'] == 0])
print(df.loc[df['marketCapitalization'] == 0])

Empty DataFrame
Columns: [index, ticker, name, finnhubIndustry, country, currency, exchange, ipo, marketCapitalization, marketCapClass, shareOutstanding]
Index: []
Empty DataFrame
Columns: [index, ticker, name, finnhubIndustry, country, currency, exchange, ipo, marketCapitalization, marketCapClass, shareOutstanding]
Index: []

In [43]:
# Export as CSV
df.to_csv('TOTAL_US_STOCK_MARKET_CLEAN.csv')